# general ignores

**/__pycache__/
**/*.pt
**/*.ipynb

# face_generator ignores

face_generator/exported_images/*
face_generator/Inputs/*
face_generator/.git/*

# main ignores

main/recorded/*
main/*.wav
