# general ignores

**/__pycache__/
**/__init__.py
**/*.pt
**/train.tfrecord-*
**/*.ipynb
**/*egg-info

# face_generator ignores

face_generator/exported_images/*
face_generator/Inputs/*
face_generator/.git/*

# main ignores

main/recorded/*
main/*.wav

# melody_generator ignores

voice_generator/data/*
voice_generator/generated/*
voice_generator/GM-Voice/*
voice_generator/notebooks/*

